.evaluation-table {
  .ant-table-cell {
    padding: 8px 10px !important;
  }

  .ant-table-thead > tr > th {
    padding-block: 7px !important;
  }

  .ant-table-thead > tr:first-child > th {
    text-align: left;
  }

  .ant-table-tbody > tr > td {
    padding-block: 7px !important;
  }
}

.evaluation-results-table {
  .ant-table-tbody > tr > td {
    vertical-align: top;
  }
}
